.container{
     background-color: #2f3136;
     border-radius: 4px;
     display: block;
     padding: 15px;
     max-width: 400px;
     position: relative;
     min-width: 75%;
     border-left: 4px solid;
     margin-top: 5px;
}
.author{
     font-size: 10pt;
     font-weight: bold;
     margin-bottom: 7px;
}
.title{
     font-size: 12pt;
     margin-bottom: 7px;
}
.description{
     color: rgb(216, 216, 216);
     font-size: 10pt;
     font-weight: 400;
     margin-bottom: 7px;
}
.description p{
     margin: 0;
     margin-bottom: 7px;
}
.embedImage{
     position: relative;
     width: auto;
     height: auto;
     max-width: 100%;
}
.embedImage img{
     width: auto;
     height: auto;
     position: relative;
     max-height: 100%;
     max-width: 100%;
     border-radius: 4px;
}
.image{
     border-radius: 4px;
     max-width: 60%;
     min-width: 200px;
     max-height: 400px;
     position: relative;
}