:root {
  --iconsMargin: 0.3em;
  --iconsMarginTop: 0.7em;
  --iconAnimationTime: 0.25s;
}

.guilds {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #1e2124;
  height: 72px;
}
.icons {
  border-radius: 50%;
  margin: var(--iconsMargin);
  cursor: pointer;
  animation: reverseExpand;
  animation-duration: var(--iconAnimationTime);
  margin-top: var(--iconsMarginTop);
}
.icons:hover {
  animation: expand;
  animation-duration: var(--iconAnimationTime);
  animation-fill-mode: forwards;
}
.discordIcon {
  background-color: #424549;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  animation: expandAndColorReverse;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 10px 16px;
  color: #ffffff;
  margin-top: var(--iconsMarginTop);
}
.discordIcon:hover {
  animation: expandAndColor;
  animation-duration: var(--iconAnimationTime);
  animation-fill-mode: forwards;
}
.dirToGuildsSepatator {
  height: 32px;
  width: 2px;
  border-radius: 1px;
  background-color: #424549;
  margin: var(--iconsMargin);
}
.guildsContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  max-width: calc( 100vw - 152px );
}
.defaultServerIcon{
  background-color: #2e455e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: var(--iconsMargin);
  cursor: pointer;
  animation: reverseExpand;
  animation-duration: var(--iconAnimationTime);
  margin-top: var(--iconsMarginTop);
}
.defaultServerIcon:hover {
  animation: expand;
  animation-duration: var(--iconAnimationTime);
  animation-fill-mode: forwards;
}
.menuButtonBackground{
  width: 68px;
  height: 72px;
  position: absolute;
  top: 0;
  right: 0;
  background: #1e2124;
  box-shadow: #1e2124 -10px -0px 6px -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuButton{
  width: 48px;
  height: 48px;
  position: absolute;
  left: calc(100% - 63px);
  background-color: #36393f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-left: 50px;

  transition: all var(--iconAnimationTime);
}
.menuButton svg{
  width: 20px;
}
.menuButton:hover{
  cursor: pointer;
  background-color: #42454d;

  transition: all var(--iconAnimationTime);
}

/* keyframes */
@keyframes expand {
  100% {
    border-radius: 35%;
  }
}
@keyframes reverseExpand {
  0% {
    border-radius: 30%;
  }
}
@keyframes expandAndColor {
  100% {
    border-radius: 35%;
    background-color: #454FBF;
  }
}
@keyframes expandAndColorReverse {
  0% {
    border-radius: 35%;
    background-color: #454FBF;
  }
  50% {
    background-color: #454FBF;
  }
}
