.main {
  height: calc(100vh - 72px);
  width: 240px;
  background-color: #2f3136;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
