.main {
  padding-top: 3px;
  height: calc(100vh - 72px);
  width: 270px;
  background-color: #2f3136;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}

.icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.userContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-content: center;
  margin: 3px 12px;
  padding: 5px;
  border-radius: 4px;
}
.userContainer:hover{
  background-color: #3c3c44;
  cursor: pointer;
}
