.main {
  padding-top: 2px;
  height: calc(100vh - 72px);
  width: 270px;
  background-color: #2f3136;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow: scroll;
}

.icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.userContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-content: center;
  margin: 2px 12px;
  padding: 5px;
  border-radius: 4px;
}
.userContainer:hover{
  background-color: #3c3c44;
  cursor: pointer;
}
.userName{
  margin-left: -5px;
}

.status{
  background-color: aqua;
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 50%;
  left: -15px;
  top: 14px;
  border: solid #2f3136 3px;
}