.main {
  height: calc(100vh - 72px);
  width: 100%;
  position: relative;
  background-color: #36393f;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}

.submain {
  width: 100%;
  position: relative;
  background-color: #36393f;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow-y: scroll;
}

.message {
  display: flex;
  padding: 10px;
  flex-direction: row;
  width: 100%;
  position: relative;
}
